<p id="notice"><%= notice %></p>

<p>
  <strong>Difficulty:</strong>
  <%= @learning.difficulty %>
</p>

<p>
  <strong>Learning date:</strong>
  <%= @learning.learning_date %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @learning.answer %>
</p>

<p>
  <strong>Answer number:</strong>
  <%= @learning.answer_number %>
</p>

<p>
  <strong>Right answer number:</strong>
  <%= @learning.right_answer_number %>
</p>

<p>
  <strong>Time spent:</strong>
  <%= @learning.time_spent %>
</p>

<p>
  <strong>Score:</strong>
  <%= @learning.score %>
</p>

<p>
  <strong>Is favorite:</strong>
  <%= @learning.is_favorite %>
</p>

<p>
  <strong>Question:</strong>
  <%= @learning.question_id %>
</p>

