<h3>修改密码</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, readonly: true %>
  </div>

  <div>
    <%= f.label :请重新输入您的当前密码 %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :请输入您的新密码 %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :请再输一遍您的新密码 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>
