<div class="nt">&nbsp;</div>
<div class="like_table" style="background: #ffffff;border: none;color: #000000;">
		<div class="like_yesterday">
			昨日排名
		</div>
    <table class="info_table">
      <tr>
        <th style="width: 33.33%;">
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
        </th>
        <th style="width: 33.33%;">
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
        </th>
        <th style="width: 33.33%;">
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
          <span><%= image_tag("star_3.png",style: "margin-top: 5px;")%></span>
        </th>
      </tr>
      <tr>
        <td><%=@rank_one%></td>
        <td><%=@rank_two%></td>
        <td><%=@rank_three%></td>
      </tr>
    </table>
</div>

<div class="like_table" style="margin-top: 40px; background: #ffffff;border: none;color: #000000;">
    <div class="like_yesterday">
      积分等级
    </div>
    <table class="info_table">
      <tr>
        <th>昨日积分</th>
        <th>累计积分</th>
        <th>积分排名</th>
        <th>当前等级</th>
      </tr>
      <tr>
        <td>
          <%=@user.learnings.where(learning_date: "#{(Time.now-1.day).strftime("%Y%m%d")}").sum{|p| p.score}.to_i%>
        </td>
        <td><%=@user.score.to_i%></td>
        <td><%=@user.score_ranking%></td>
        <td><%=@user.score_rating%>级</td>
      </tr>
    </table>
</div>

<div class="link">
<%=link_to "学习记录", "/android/learnings/learning_record?token=#{@user.authentication_token}", style: "float: right; color: #404040;"%>
<%=link_to "昨日前十", "/android/learnings/top_ten_yesterday?token=#{@user.authentication_token}", style: "float: left; color: #404040;"%>
</div>
