<div class="like_table" style="margin-bottom: 200px; margin-top: 40px; padding-top: 20px;">
	<div class="like_time">
	  <% if @difficulty == "one"%>
      <span>
        <span><%= image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;")%></span>
        <span><%= link_to image_tag("star_white.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=two"%>
        </span>
        <span><%= link_to image_tag("star_white.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=three"%>
        </span>
      </span>
    <% elsif @difficulty == "two"%>
      <span>
        <span><%= link_to image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=one"%>
        </span>
        <span><%= image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;")%></span>
        <span><%= link_to image_tag("star_white.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=three"%>
        </span>
      </span>
    <% elsif @difficulty == "three"%>
      <span>
        <span><%= link_to image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=one"%>
        </span>
        <span><%= link_to image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;"), "/android/learnings/new_learning?token=#{@user.authentication_token}&difficulty=two"%>
        </span>
        <span><%= image_tag("star_color.png", style: "margin-left: 5px;margin-top: 4px;")%></span>
      </span>
    <% end %>
  </div>
  <% if @question.nil? %>
    <p>亲，当前难度等级还没有设置题目哦，你可以通过点击对应难度等级的五角星来调整难度等级!</p>
  <% else %>
		<%= form_for([@question, @learning], url: "/android/learnings/#{@question.id}/create_learning?token=#{@user.authentication_token}", html: {onkeydown: "if(event.keyCode==13){return false;}"} ) do |f| %>
		  <p><%=@question.to_html_android.html_safe%></p>
		  <div class="like_button">
		    <%= f.submit :提交答案, data: { disable_with: "答案提交中" } %>
		  </div>
		<% end %>
	<% end %>
</div>
