<!DOCTYPE html>
<html style="background: #404040;">
<head>
  <title></title>
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
<%= javascript_include_tag "html5shiv" %>
<%= javascript_include_tag "respond.min" %>
    <![endif]-->
</head>
<body>
<!--start main -->
<div class="android_main_bg">
	<div class="android_wrap">
		<div class="android_main">
			<div class="android_contact">				
				<%= yield %>
  			<div class="clear"></div>		
		  </div>
		</div>
	</div>
</div>
<!--end main -->
</body>
</html>
